[Unit]
Description=skeleton
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/skeleton
ExecStart=/opt/skeleton/skeleton.mjs
EnvironmentFile=/opt/skeleton/.env

[Install]
WantedBy=multi-user.target
