[Unit]
Description=wx
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/wx
ExecStart=/opt/wx/wx.mjs
EnvironmentFile=/opt/wx/.env

[Install]
WantedBy=multi-user.target
